<!DOCTYPE html>
<html>

<head>

<title>Login</title>

<style>

body{
font-family:Segoe UI;
background:linear-gradient(135deg,#0f2b46,#071a2c);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.box{
background:rgba(255,255,255,0.05);
padding:40px;
border-radius:12px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:none;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:6px;
background:#00c6ff;
color:white;
}

</style>

</head>

<body>

<div class="box">

<h2>SAP VIM Control Center</h2>

<form method="POST">

<input name="email" placeholder="Email">

<input name="password" type="password" placeholder="Password">

<button>Login</button>

</form>

</div>

</body>

</html>